doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{nombresitio} | #{pagina}
        link(href='https://fonts.googleapis.com/css2?family=Alumni+Sans+Collegiate+One&family=Covered+By+Your+Grace&family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&family=IBM+Plex+Sans:wght@400;500;700&family=Inter:wght@300;500&family=Montserrat&family=Staatliches&display=swap' rel='stylesheet')
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/css/style.css")
    body(class= clase)
        include header
        block slider
        block contenido
        include footer